.container [class*="pure-u"] { text-align: center; }
.sensorName { font-size: 1em; font-weight: 400; }
.sensorValue { font-size: 1.2em; font-weight: bold; }
.last-measured { font-size: 0.8em; padding-bottom: 5px; }
.footer-text { font-size: 0.6em; text-align: center; padding-top: 5px; }

#station-name { margin: 0em; }
#station-desc { padding-left: 10px; padding-right: 10px; }
#last-updated-relative { font-weight: bold; }
#sensors { background-color: lavender; }

/** canvas { margin-left: 5px; margin-right: 5px; } **/
canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
}
